.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
        margin: 10px;
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }
}

.location-timezone,
.degree-section h2,
.degree-section span {
    font-size: 19px;

}